{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Subjects</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_subjects.css' %}">
    <script src="{% static 'js/script_subjects.js' %}"></script>
</head>
<body>
    <h1>المواد</h1>

    <ul class="classes">
      {% for subject in subjects %}
      <li>
      <a href="{% url 'a3ded:grades' class_id=class_id trimestre_id=trimestre_id subject_id=subject.pk %}">{{ subject.name }}</a>
    </li>
      {% empty %}
      <li>No subjects available for this trimestre.</li>
        {% endfor %}
    </ul>

    <a href="{% url 'a3ded:home' %}">العودة للصفحة الرئيسية</a>
    

    <form method="post" action="{% url 'a3ded:logout' %}">
      {% csrf_token %}
      <button type="submit" class="logout-button">تسجيل الخروج الحساب</button>
  </form>
</body>
</html>
